@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

/* Estilo personalizado del scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 3px; /* Hacer el scrollbar más fino */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, transparent, #bea348, transparent); /* Gradiente dorado en el centro */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, transparent, #cea231, transparent); /* Gradiente dorado más oscuro al hover */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente para el track */
}

/* Para navegadores Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #cfb359 transparent;
}

/* CSS para animación continua */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Mueve el contenido a lo largo del ancho completo */
  }
}

.scroll-container {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
  -webkit-overflow-scrolling: touch; /* Habilita el desplazamiento táctil */
}

.scroll-content {
  display: flex;
  white-space: nowrap;
  animation: scroll 70s linear infinite;
  min-width: 200%; /* Doble del ancho visible para permitir un desplazamiento continuo */
  transition: transform 0.5s ease; /* Transición suave para el reinicio */
}

/* Ajustar velocidad de animación en móviles */
@media (max-width: 768px) {

  
  
  .scroll-content {
    animation: scroll-mobile 30s linear infinite; /* Ajusta la duración de la animación para móviles */
  }
  

  @keyframes scroll-mobile {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

.scroll-container.pause-animation .scroll-content {
  animation-play-state: paused; /* Detener la animación en hover o foco */
}
